@using BlazorServerDemo.Data
@page "/staffadd"
@inject IStaffService StaffService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS



<h1>type your expected salary </h1>

<EditForm Model="@staffInfo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table>
        <tr>
            <td>姓名：</td>
            <td>
                <input type="text" @bind="staffInfo.Name" />
                <ValidationMessage For="@(()=>staffInfo.Name)" />
            </td>

        </tr>
        <tr>
            <td>期望薪資：</td>
            <td>
                <input type="number" @bind="staffInfo.ExpectedSalary" />
                <ValidationMessage For="@(()=>staffInfo.ExpectedSalary)" />
            </td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:center"></td>
            <td>
                <button class="btn btn-primary" type="submit">Submit</button>
                <input type="button" value="Cancel" @onclick="@Cancel" />
            </td>
        </tr>
    </table>

    @*<div class="display-1 text-success">@Message</div>*@

</EditForm>

@code {
    //Creadit a new, empty Staff object
    StaffInfo staffInfo = new StaffInfo();

    public string Message { get; set; }

    private async Task HandleValidSubmit()
    {
        staffInfo.UpdDtm = DateTime.Now;
        Message = $"{staffInfo.Name},\n{staffInfo.ExpectedSalary},\n{staffInfo.UpdDtm}";
        await JS.InvokeVoidAsync("alert", Message);
    }

    //https://www.gushiciku.cn/pl/puWk/zh-tw

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/staffadd");
    }

}
