@using BlazorServerDemo.Data
@using System.Text.Json;
@page "/staffadd"
@inject IStaffService StaffService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS



<h1>type your expected salary </h1>

<EditForm Model="@staffInfo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table>
        <tr>
            <td>姓名：</td>
            <td>
                <input type="text" @bind="staffInfo.Name" />
                <ValidationMessage For="@(()=>staffInfo.Name)" />
            </td>
        </tr>
        <tr>
            <td>期望薪資：</td>
            <td>
                <input type="number" @bind="staffInfo.ExpectedSalary" />
                <ValidationMessage For="@(()=>staffInfo.ExpectedSalary)" />
            </td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:center"></td>
            <td>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-primary" @onclick="@Cancel">Cancel</button>
            </td>
        </tr>
        <tr>
            <td>
                IJSRuntime 顯示alert訊息
            </td>
            <td>
                <a href="https://www.gushiciku.cn/pl/puWk/zh-tw">Link Me</a>
            </td>
        </tr>
        <tr>
            <td>
                Data Annotataion表單驗證
            </td>
            <td>
                <a href="https://csharpkh.blogspot.com/2021/07/Blazor-must-learn-skill-Form-Validation-EditForm-DataAnnotationsValidator-ValidationSummary-Required.html?m=0">Link Me</a>
            </td>

        </tr>
    </table>

    <pre class="font-weight-light">@Message</pre>

</EditForm>

@code {
    //Creadit a new, empty Staff object
    StaffInfo staffInfo = new StaffInfo();

    public string Message { get; set; }

    private async Task HandleValidSubmit()
    {
        //staffInfo.UpdDtm = DateTime.Now;
        //Message = $"{staffInfo.Name},\n{staffInfo.ExpectedSalary},\n{staffInfo.UpdDtm}";

        Message = StaffService.StaffInsert(staffInfo);
        await JS.InvokeVoidAsync("alert", Message);
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

}
